### 🛠 빌드 관련 파일 제외 ###
build/
bin/
out/
!**/src/main/**/build/
!**/src/main/**/bin/
!**/src/main/**/out/

### ⚙️ IDE 설정 파일 제외 ###
.idea/
.vscode/
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### 🖥️ OS에서 생성되는 불필요한 파일 제외 ###
.DS_Store

### 🚀 프론트엔드 관련 파일 제외 ###
src/main/frontend/

### 🤖 AI 서버 관련 파일 제외 ###
ai_server/
ai_server/venv/
ai_server/models/last.pt