.nav {
    display: flex;
    position: relative;
    background: white;
    padding: 8px 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  }
  
  .nav-item {
    color: #83818c;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
  
    &:hover {
      color: #333;
    }
  
    &.is-active {
      color: blue;
      font-weight: bold;
    }
  }
  
  .nav-indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: blue;
    transition: all 0.4s;
    border-radius: 8px 8px 0 0;
  }
  